<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 24px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <nav>
            <a href="{{ url_for('hello') }}">Hello</a>
            <a href="{{ url_for('about') }}">About</a>            
            <a href="{{ url_for('about_v2') }}">About(v2)</a>            
            <a href="{{ url_for('index_v2') }}">Index(v2)</a>
            <a href="{{ url_for('index_v3') }}">Index(v3)</a>            
            <a href="{{ url_for('suppliers') }}">Suppliers</a>
            <a href="{{ url_for('suppliers_v2') }}">Suppliers(v2)</a>            
            <a href="{{ url_for('products') }}">Products</a>
            <a href="{{ url_for('add_product') }}">Add Product</a>
        </nav>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
